* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  color: #1c1c1c;
  background-color: #efebf2;
}

/* Navbar Base */
header {
  position: fixed;
  top: 50px;
  left: 50px;
  width: 60%;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.753);
}

header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}

header nav ul li a {
  text-decoration: none;
  font-weight: 300;
  color: white;
}
header nav ul li a:hover {
  color: #3a1f47;
  font-weight: 500;
}

header .btn {
  padding: 20px 28px;
  background: #211428;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  color: #fff;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
header .btn:hover {
  background: #3a1f47;
}
.hamburger {
  font-size: 26px;
  color: white;
  cursor: pointer;
  display: none; /* hidden on desktop */
}

/* Hero */
.hero {
  height: 100vh;
  background: url("./MEDIA/Desktop\ -\ 16\ \(1\).png") no-repeat center
    center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  color: white;
  padding-top: 80px;
}
.hero-content {
  position: relative;
  z-index: 2;
  /* max-width:800px;  */
}
.hero-content h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 135px;
  font-weight: 800;
  text-align: center;
  background: linear-gradient(180deg, #f6ffbd 70%, #00000096 10%);
  background-clip: text;
}
.stats {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: -180px auto 80px; /* overlaps slightly with hero */
  max-width: 1000px;
}

.stat {
  padding: 20px;
  text-align: center;
  border-radius: 20px;

  background: #2114283b; /* transparent layer */
  backdrop-filter: blur(12px); /* glass blur */
  -webkit-backdrop-filter: blur(12px); /* safari support */
  border: 1px solid rgba(255, 255, 255, 0.2); /* subtle border */
  color: #fff;
}

.stat h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}
.stat h5 {
  font-size: 20px;
}
.stat p {
  font-size: 16px;
  font-weight: 500;
}

/* Services */
.services {
  padding: 80px 60px;
  text-align: center;
}
.services h2 {
  font-size: 40px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.services p {
  font-size: 20px;
  margin-bottom: 40px;
}
.service-grid {
  display: grid;
  grid-template-columns: repeat(3, 5fr);
  gap: 30px;
}
.service-card {
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.service-card h3 {
  margin-bottom: 15px;
  font-size: 20px;
}
.services ul {
  text-align: left;
}

/* About */
.about {
  background-image: url("./MEDIA/Desktop\ -\ 16.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 80px 60px;
}
.about img {
  width: 35%;
  border-radius: 20px;
  height: 600px;
  /* object-fit:cover;  */
}
.about-text {
  width: 50%;
}
.about-text h2 {
  font-size: 40px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
.about-text p {
  /* font-size:36px;  */
  margin-bottom: 20px;
  /* font-family:'Montserrat',sans-serif;  */
  color: #fff;
}
.about-text li {
  color: #fff;
}
.about-btn {
  padding: 20px 50px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  border-radius: 50px;
  background: #211428;
  color: #fff;
  font-family: "poppins", sans-serif;
}
.about-btn:hover {
  background: #3a1f47;
}
.about-btn a {
  text-decoration: none;
  color: #fff;
}
/* Projects */
.project {
  padding: 80px 70px;
  text-align: center;
  background: #f9f9f9;
}
.project h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
}
.projects {
  padding: 80px 60px;
  text-align: left;
  background: #f9f9f9;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
}
.card {
  position: relative;
  width: 350px;
  height: 250px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Government Badge */
.badge {
  position: absolute;
  top: 15px;
  right: 15px;
  background: rgba(52, 41, 63, 0.9);
  color: #fff;
  font-size: 0.9rem;
  padding: 6px 16px;
  border-radius: 20px;
}

/* Bottom Overlay */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: linear-gradient(
    to top,
    rgba(33, 20, 40, 0.8) 0%,
    rgba(33, 20, 40, 0) 100%
  ); /* #211428 60% */
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.overlay .text {
  max-width: 80%;
}

.overlay h3 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
}

.overlay p {
  margin: 5px 0 0;
  font-size: 0.5rem;
  line-height: 1.4;
}

/* Arrow Button */
.overlay .arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1.5px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s;
}

.overlay .arrow:hover {
  background: rgba(255, 255, 255, 0.2);
}

.overlay .arrow::before {
  content: "→";
  font-size: 1.2rem;
  color: #fff;
}

/* Equipment */
.equipment {
  padding: 80px 60px;
  text-align: center;
  background-image: url('./MEDIA/Desktop\-\16\\(2\).png');
}
.equipment h2 {
  font-size: 40px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  color: #000000;
}
.equipment p {
  font-size: 20px;
  margin-bottom: 40px;
  color: #000000;
}
.equipment-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.equip-card {
  position: relative;
  width: 280px;
  height: 250px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.equip-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Government Badge */
.badge {
  position: absolute;
  top: 15px;
  right: 15px;
  background: rgba(52, 41, 63, 0.9);
  color: #fff;
  font-size: 0.9rem;
  padding: 6px 16px;
  border-radius: 20px;
}

/* Bottom Overlay */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: linear-gradient(
    to top,
    rgba(33, 20, 40, 0.8) 0%,
    rgba(33, 20, 40, 0) 100%
  ); /* #211428 60% */
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.overlay .text {
  max-width: 80%;
}

.overlay p {
  margin: 5px 0 0;
  font-size: 0.9rem;
  line-height: 1.4;
  text-align: left;
}

.equipment-grid img {
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease-in-out;
  transform-origin: center;
}
.equipment-grid img:hover {
  transform: scale(1.1);
}

/* Contact Section */
.contact-section {
  background: #efebf2;
  padding: 80px 20px;
}
.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
  max-width: 1100px;
  margin: auto;
  align-items: start;
}
.contact-text {
  text-align: right;
}
.contact-text h2 {
  font-size: 4rem;
  color: #211428;
  margin-bottom: 20px;
  line-height: 70px;
  font-family: "Montserrat", sans-serif;
}
.contact-text p {
  font-size: 1.2rem;
  color: #000;
}
/* Contact Form */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.contact-form label {
  font-weight: 500;
  font-size: 1rem;
  color: #333;
}
.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: none;
  border-bottom: 1px solid #999;
  font-size: 1.2rem;
  outline: none;
  background: transparent;
}
.contact-form .btn {
  color: white;
  border: none;
  margin-top: 10px;
  align-self: flex-end;
  background: #211428;
  padding: 16px 40px;
  border-radius: 40px;
  transition: background 0.3s ease;
  font-size: 1rem;
}
.contact-form .btn:hover {
  background: #3a1f47;
}

/* * ===== FOOTER ===== */
footer {
  background: #211428;
  color: #fff;
  padding: 60px 20px 20px;
}
.footer-content {
  max-width: 1200px;
  margin: auto;
}
.footer-content h3 {
  font-size: 40px;
}

.footer-content .icon i {
  padding: 20px;
  font-size: 24px;
}
.footer-content .para {
  width: 50%;
  font-size: 1.2rem;
}
.footer-cols {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 30px;
}
.footer-col h4 {
  margin-bottom: 15px;
  font-size: 1.1rem;
}
.footer-col p .fa-solid {
  margin-right: 5px;
}
.footer-col ul li {
  margin-bottom: 8px;
  font-size: 0.95rem;
}

.footer-col a {
  color: #ddd;
  transition: 0.3s;
  text-decoration: none;
}
.footer-col a:hover {
  color: #ffd600;
}
footer p {
  font-size: 0.95rem;
}
footer .copyright {
  text-align: center;
  margin-top: 50px;
  font-size: 0.85rem;
  color: #ccc;
  border-top: 1px solid;
  padding-top: 15px;
}

/* ================= RESPONSIVENESS ================= */

/* Tablets - up to 1024px */
@media (max-width: 1024px) {
  header {
    width: 80%;
    left: 10%;
    top: 20px;
    padding: 10px 30px;
  }

  .hamburger {
    display: none;
  }
  header nav ul {
    gap: 20px;
  }

  .hero-content h1 {
    font-size: 90px;
  }

  .stats {
    flex-wrap: wrap;
    gap: 20px;
    margin: -40px auto 60px;
  }

  .service-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .about {
    flex-direction: column;
    text-align: center;
  }

  .about img {
    width: 80%;
    height: auto;
  }

  .about-text {
    width: 90%;
    text-align: left;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  .equipment-grid {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .contact-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .contact-text {
    text-align: center;
  }

  .footer-content .para {
    width: 100%;
  }
}

/* Mobile - up to 768px */
@media (max-width: 768px) {
  header {
    width: 90%;
    left: 5%;
    top: 20px;
    padding: 10px 20px;
  }
  .logo img {
    width: 50px;
  }

  nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #efebf2;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 20px;
    padding: 20px;
    display: none; /* hidden by default */
    flex-direction: column;
    align-items: left;
    gap: 20px;
  }

  nav.show {
    display: flex; /* show when toggled */
  }

  header nav ul {
    flex-direction: column;
    gap: 15px;
    align-items: start;
  }
  header nav ul li a {
    color: #211428;
    font-weight: 500;
  }
  header nav ul li a:hover {
    color: #333;
  }
  header .btn {
    width: 100%;
    text-align: center;
    text-decoration: none;
  }
  header .btn:hover {
    background-color: #fff;
  }

  .hamburger {
    display: block; /* show on mobile */
    width: 50px;
    color: #fff;
  }

  .hero {
    height: 400px;
  }
  .stats {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0px auto;
    padding: 30px 0px;
    background-color: #211428;
  }

  .service-grid {
    grid-template-columns: 1fr;
    /* width: 100%; */
  }

  .about {
    padding: 40px 20px;
  }

  .about img {
    width: 100%;
  }

  .about-text h2 {
    font-size: 28px;
  }

  .project h2,
  .equipment h2,
  .services h2,
  .about-text h2 {
    font-size: 30px;
  }
  .equipment p,
  .services p,
  .contact-text p,
  .about p {
    text-align: left;
    font-size: 1rem;
  }
  .projects {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    padding: 0px;
  }
  .card {
    width: 100%; /* ✅ make card shrink a little on mobile */
    /* max-width: 400px;       */
  }
  .projects p {
    text-align: left;
  }

  .equipment-grid {
    grid-template-columns: 1fr;
  }

  .equip-card {
    width: 100%;
    max-width: 350px;
  }

  .contact-text h2 {
    font-size: 2.5rem;
    line-height: 1.3;
  }

  .footer-content .para {
    width: 100%;
    font-size: 1.2rem;
  }

  .footer-cols {
    grid-template-columns: 1fr;
    text-align: left;
  }

  .footer-col {
    margin-bottom: 20px;
  }

  .equipment>p{
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .stats .stat{
    width: 80%;
  }
  .hero {
    height: 230px;
  }

  .equipment{
    padding: 80px 24px;
  }

  

  .services{
    padding: 80px 24px;
  }

  .project {
    padding: 80px 24px;
    text-align: center;

  }
}
@media screen and (max-width: 320px) {
  .footer-content h3 {
    font-size: 30px;
  }
}
